@host {
	:scope {
		display: block;
		list-style-type: none;
		-webkit-backface-visibiblity: hidden;
		backface-visibiblity: hidden;
		}
	}
.tweet {
	position: relative;
	padding: .3em .3em .3em 3.25em;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	transition: opacity .3s linear;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
.tweet.show {
	opacity: 1;
	}
.tweet-img {
	position: absolute;
	width: 2.25em;
	height: 2.25em;
	top: .3em;
	left: .3em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
.tweet-text {
	margin: 0 0 .3em 0;
	font-size: .8125em;
	}
.tweet-meta {
	font-size: .7em;
	}